<html>
<head>
    <title>HuntingStats378 - Compare</title>
    <link href="https://huntingstats378.github.io/HuntingStats378/main/assets/ess/odometer.css" rel="stylesheet">
    <link rel="icon" href="https://huntingstats378.github.io/HuntingStats378/main/images/logo.png">
    <meta charSet="utf-8" />
    <meta name="description" content="HuntingStats378 - Compare" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500&display=swap" rel="stylesheet">
</head>

<body style="font-family: Roboto; color: var(--fg-color, #fff); background-color: var(--bg-color, #E7541E);">
    <div style="height: auto; display: grid; grid-template-columns: repeat(2, 1fr); gap: 10px;">
        <div style="padding: 0px 4px; text-align: center; background-color: var(--counter-bg-color, black);">
            <img id="banner1" style="filter: blur(4px); border-radius: 15px; object-fit: cover; width: 100%; height: 150px; position: relative;" src="https://huntingstats378.github.io/HuntingStats378/main/images/default_banner.png">
            <img id="image1" style="width: 125px; height: 125px; border-radius: 50%; margin-top: -5em; position: relative;" src="https://huntingstats378.github.io/HuntingStats378/main/images/default.png">
            <h2 id="name1" onclick="search1()" style="margin-top: 1px; font-size: var(--title-font-size, 4.5vh)">Loading</h2>
            <h2 id="views1" style="margin-top: -20px; font-size: var(--counter-font-size, 8vh)" class="odometer">0</h2>
            <h5 onclick="footer1()" id="footer1" style="margin-top: -40px;">Views (Loading?)</h5>
        </div>
        <div style="height: auto; padding: 0px 4px; text-align: center; background-color: var(--counter-bg-color, black);">
            <img id="banner2" style="filter: blur(4px); border-radius: 15px; object-fit: cover; width: 100%; height: 150px; position: relative;" src="https://huntingstats378.github.io/HuntingStats378/main/images/default_banner.png">
            <img id="image2" style="width: 125px; height: 125px; border-radius: 50%; margin-top: -5em; position: relative;" src="https://huntingstats378.github.io/HuntingStats378/main/images/default.png">
            <h2 id="name2" onclick="search2()" style="margin-top: 1px; font-size: var(--title-font-size, 4.5vh)">Loading</h2>
            <h2 id="views2" style="margin-top: -20px; font-size: var(--counter-font-size, 8vh)" class="odometer">0</h2>
            <h5 onclick="footer2()" id="footer2" style="margin-top: -40px;">Views (Loading?)</h5>
        </div>
    </div>
    <center>
        <div style="width: 100%; height: 100px; background-color: var(--counter-bg-color, black); border-radius: 20px;">
            <h1>Gap:</h1>
            <h1 id="gap" class="odometer" style="margin-top: -15px">0</h1>
        </div>
    </center>
    </body>
    <script src="https://huntingstats378.github.io/HuntingStats378/main/assets/ess/odometer.js"></script>
    <script>
        const searchParams1 = new URLSearchParams(window.location.search);
        const id1 = searchParams1.get("id1") || "UCq-Fj5jknLsUf-MWSy4_brA";
        const searchParams2 = new URLSearchParams(window.location.search);
        const id2 = searchParams2.get("id2") || "UCX6OQ3DkcsbYNE6H8uQQuVA";
        let status1
        let status2
        let views1
        let views2

                fetch(
                    `https://corsproxy.io/?https://studio.nia-statistics.com/api/channel/${id1}`
                )
                .then((res) => res.json())
                .then((data) => {
                    status1 = data.success;
                    });

                fetch(
                    `https://nia-statistics.com/api/get?platform=youtube&type=channel&id=${id1}`
                )
                .then((res) => res.json())
                .then((data) => {
                    document.getElementById("banner1").src = `https://banner.yt/${id1}`;
                    document.getElementById("image1").src = data.snippet.thumbnails.high.url;
                    document.getElementById("name1").textContent = data.snippet.title;
                });

        fetch(
            `https://corsproxy.io/?https://studio.nia-statistics.com/api/channel/${id2}`
        )
        .then((res) => res.json())
        .then((data) => {
            status2 = data.success;
            });

        fetch(
            `https://nia-statistics.com/api/get?platform=youtube&type=channel&id=${id2}`
        )
        .then((res) => res.json())
        .then((data) => {
            document.getElementById("banner2").src = `https://banner.yt/${id2}`;
            document.getElementById("image2").src = data.snippet.thumbnails.high.url;
            document.getElementById("name2").textContent = data.snippet.title;
        });

                setInterval(() => {
        if (status1 == false) {
                        fetch(
                                `https://nia-statistics.com/api/get?platform=youtube&type=channel&id=${id1}`
                            )
                            .then((res) => res.json())
                            .then((data) => {
                                document.getElementById("banner1").src = `https://banner.yt/${id1}`;
                                document.getElementById("image1").src = data.snippet.thumbnails.high.url;
                                document.getElementById("name1").textContent = data.snippet.title;
                                document.getElementById("views1").innerHTML = data.estViewCount;
                                views1 = data.estViewCount;
                                document.getElementById("footer1").textContent = "Views (Estimated)";
                            });
                } else { 
                        fetch(
                                `https://corsproxy.io/?https://studio.nia-statistics.com/api/channel/${id1}`
                            )
                            .then((res) => res.json())
                            .then((data) => {
                                document.getElementById("banner1").src = `https://banner.yt/${id1}`;
                                document.getElementById("image1").src = data.currentChannels.image;
                                document.getElementById("name1").textContent = data.currentChannels.name;
                                document.getElementById("views1").innerHTML = data.channels.counts[1].count;
                                views1 = data.channels.counts[1].count;
                                document.getElementById("footer1").textContent = "Views (YT Studio)";
                                status1 = data.success;
                            });
                }
                    }, 2000);

                setInterval(() => {
        if (status2 == false) {
                        fetch(
                                `https://nia-statistics.com/api/get?platform=youtube&type=channel&id=${id2}`
                            )
                            .then((res) => res.json())
                            .then((data) => {
                                document.getElementById("banner2").src = `https://banner.yt/${id2}`;
                                document.getElementById("image2").src = data.snippet.thumbnails.high.url;
                                document.getElementById("name2").textContent = data.snippet.title;
                                document.getElementById("views2").innerHTML = data.estViewCount;
                                views2 = data.estViewCount;
                                document.getElementById("footer2").textContent = "Views (Estimated)";
                            });
                } else { 
                        fetch(
                                `https://corsproxy.io/?https://studio.nia-statistics.com/api/channel/${id2}`
                            )
                            .then((res) => res.json())
                            .then((data) => {
                                document.getElementById("banner2").src = `https://banner.yt/${id2}`;
                                document.getElementById("image2").src = data.currentChannels.image;
                                document.getElementById("name2").textContent = data.currentChannels.name;
                                document.getElementById("views2").innerHTML = data.channels.counts[1].count;
                                views2 = data.channels.counts[1].count;
                                document.getElementById("footer2").textContent = "Views (YT Studio)";
                                status2 = data.success;
                            });
                }
                    }, 2000);

        setInterval(() => {
            document.getElementById("gap").innerHTML = views1 - views2;
                    }, 2000);
        
        function search1() {
            const prompt = window.prompt("Enter channel name, ID, or URL.");
            if (prompt)
                fetch(
                    `https://axern.space/api/search?platform=youtube&type=channel&query=${prompt}`
                )
                .then((res) => res.json())
                .then((date1) => {
                    searchParams1.set("id1", date1[0].id)
                    window.location.href = "?" + searchParams1.toString()
                });
        }

        function search2() {
            const prompt = window.prompt("Enter channel name, ID, or URL.");
            if (prompt)
                fetch(
                    `https://axern.space/api/search?platform=youtube&type=channel&query=${prompt}`
                )
                .then((res) => res.json())
                .then((date2) => {
                    searchParams2.set("id2", date2[0].id)
                    window.location.href = "?" + searchParams2.toString()
                });
        }

        function footer1() {
        window.location.href = "./../"
        }

        function footer2() {
        window.location.href = "./../"
        }
    </script>
